@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
.brand {
  height: 10vh;
  background-color: lightgrey;
  border-bottom: 3px solid #000;
  text-align: center;
}
.brand h1 {
  font-style: oblique;
  color: royalblue;
  font-family: "Do Hyeon", sans-serif;
}
.showmsg {
  width: 65%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 1.5rem;
  background-color: lightskyblue;
}
.showmsg h3 {
  font-style: oblique;
  font-family: "Do Hyeon", sans-serif;
}
.showmsg h5 {
  font-style: italic;
  font-family: "Do Hyeon", sans-serif;
}
