@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
.head-value {
  height: 8vh;
  background-color: #fff;
  text-align: center;
  background-color: royalblue;
}
h1 {
  font-family: "Bangers", cursive;
}
.btn-danger {
  margin-top: 0.4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Bangers", cursive;
  letter-spacing: 0.2rem;
}
.maincontent {
  height: 85vh;
  text-align: center;
}
.maincontent h2 {
  font-family: "Bangers", cursive;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.maincontent h5 {
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
  letter-spacing: 4px;
}
.flexvalue {
  height: 65vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}
.flexvalue .box {
  height: 30vh;
  background-color: #000;
  text-align: center;
}
.box h2 {
  font-family: "Bangers", cursive;
  color: #fff;
}
.foot {
  height: 7vh;
  text-align: center;
  background-color: #000;
}
.foot h3 {
  color: #fff;
  font-family: "Bangers", cursive;
}
@media screen and (max-width: 768px) {
  .head-value {
    height: 5.5vh;
  }
  .maincontent {
    height: 89.5vh;
  }
  .col-sm-8 h1 {
    font-size: 0.9rem;
    color: #fff;
  }
  .btn-danger {
    padding: 0px 10px;
    font-size: 0.8rem;
  }
  .maincontent h2 {
    font-family: "Bangers", cursive;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .foot {
    height: 5vh;
  }
  .foot h3 {
    font-size: 1.2rem;
  }
  .box h2 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
